aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1782986737989/work
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1784619530115/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1751626463503/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_attrs_1773935801/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1783242827500/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1784717589373/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1783424070954/work
cftime @ file:///home/conda/feedstock_root/build_artifacts/cftime_1768510772534/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_contourpy_1769155975/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cycler_1764466758/work
fenics-basix @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_fenics-basix_1772298016/work/python
fenics-dolfinx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_fenics-dolfinx_1781050114/work/python
fenics-ffcx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_fenics-ffcx_1781021558/work
fenics-ufl @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_fenics-ufl_1768551483/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1778770237442/work
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1779999698269/work
gmsh==4.15.2
h5py @ file:///home/conda/feedstock_root/build_artifacts/h5py_1775581054514/work
idna @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_idna_1781620148/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1779714582/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_kiwisolver_1773067041/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1778169583724/work
matplotlib==3.11.1
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
meshio @ file:///home/conda/feedstock_root/build_artifacts/meshio_1706720595231/work
mpi4py @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_mpi4py_1778930335/work
msgpack @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_msgpack-python_1782460776/work
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1771610691664/work
munkres==1.1.4
netCDF4 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_netcdf4_1782151619/work
networkx==3.6.1
numpy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_numpy_1779169198/work/dist/numpy-2.4.6-cp311-cp311-linux_x86_64.whl#sha256=9f5ed645865bdd41eb671568973753a710fda708ed74e7a0b4acf98e7a7a2970
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1777103621/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pandas_1778602614/work
petsc4py @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_petsc4py_1782837972/work
pillow @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pillow_1782912080/work
propcache @ file:///home/conda/feedstock_root/build_artifacts/propcache_1780037624495/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1779293633/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1774796700044/work
pymeshfix==0.18.1
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1769003998/work
PySide6==6.11.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1770223234623/work
rich @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rich_1775991661/work/dist
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1779873994451/work/dist/scipy-1.17.1-cp311-cp311-linux_x86_64.whl#sha256=fb9bc72e4de1a7def4fdab777e350fa5c075ed66f9ad0ac80fa09bd588a1a625
shiboken6==6.11.1
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
slepc4py @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_slepc4py_1778052787/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1781006710200/work
trimesh==5.1.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1783002732/work
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1770908962415/work
vtk==9.6.1
wslink @ file:///home/conda/feedstock_root/build_artifacts/wslink_1778826586439/work
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1784526337911/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_zipp_1779159948/work
